<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Promoted:</strong>
  <%= @product.promoted %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% unless @product.promoted %>
  <%= button_to(@product, method: :patch, remote: true, params: { product: { promoted: true } }) do %>
    Promote!
  <% end %>
<% end %>


